@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --RojoAb: #B62E30;
  --Negro: #000000;
  --grisAb: #1E1E1E;
  --grisBorde: #505050;
}

body {
  margin: 0;
  padding: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}

@keyframes loadBarAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-load-bar {
  animation: loadBarAnimation 2s ease-in-out infinite;
}

/* Añadir font-display para evitar FOIT */
@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/titillium-web.woff2') format('woff2');
  font-display: swap;
}

.motion-blur {
  filter: blur(0px); /* Sin desenfoque inicialmente */
  will-change: filter; /* Mejora el rendimiento del desenfoque */
}

body.invisible {
  visibility: hidden;
}